// @fx/styles - fonts constants

// --- Font Family ------------------------------
@default-font: ‘Roboto’, -apple-system,’Segoe UI’,sans-serif;
@editor-font: ‘Roboto’, -apple-system,’Segoe UI’,sans-serif;

// --- Font Weight ------------------------------
@light-weight-font: 300;
@regular-weight-font: 400;
@medium-weight-font: 500;

// --- Base ------------------------------
.font-base {
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}